<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
	<div>
		<table>
			<tr>
				<th>ID</th>
				<th>Name</th>
				<th>Description</th>
				<th>Actions</th>
			</tr>
			<tr th:each = "category : ${listCategories}">
				<td th:text="${category.id}"></td>
				<td th:text="${category.name}"></td>
				<td th:text="${category.description}"></td>
				<td>
					<a th:href="@{'/categories/'+ ${category.id}}">Edit</a>
					<a th:href="@{'/categories/delete/'+ ${category.id}}">delete</a>
				</td>
			</tr>
		</table>
	</div>
	<div th:if="${category != null}">
		<h3>Adding/Editing Form</h3>
		<form data-toggle="validator" role="form" th:object=${category} method="post" 
		enctype="multipart/form-data" th:action="@{/categories/save}">
		
				<input type="hidden" th:field="*{id}"/>
				
				<label for="name">Name : </label>
				<input type="text" id="name" required th:field="*{name}"/> 
			
				<label for="description">Name : </label>
				<input type="text" id="description" required th:field="*{description}"/>
				
				<input type="submit" value="submit "/>
				
		</form>
	</div>
</body>
</html>