<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
	<div>
		<table>
			<tr>
				<th>ID</th>
				<th>Name</th>
				<th>Description</th>
				<th>Actions</th>
			</tr>
			<tr th:each = "category : ${listCategories}">
				<td th:text="${category.id}"></td>
				<td th:text="${category.name}"></td>
				<td th:text="${category.description}"></td>
				<td>
					<a th:href="@{'/categories/'+ ${category.id}}">Edit</a>
					<a th:href="@{'/categories/delete/'+ ${category.id}}">delete</a>
				</td>
			</tr>
		</table>
	</div>
</body>
</html>