<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Products</title>
    <link rel="stylesheet" type="text/css" href="/css/styleProduct.css">
</head>
<body>
    <div>
        <a th:href="${'/products/add'}">Add a Product</a>
        <table>
            <tr>
                <th>ID</th>
                <th>Name</th>
                <th>Description</th>
                <th>Price</th>
                <th>Category</th>
                <th>Actions</th>
            </tr>
            <tr th:each="product : ${listProducts}">
                <td th:text="${product.id}"></td>
                <td th:text="${product.name}"></td>
                <td th:text="${product.description}"></td>
                <td th:text="${product.price}"></td>
                <td th:text="${product.category.name}"></td>
                <td>
                    <a th:href="${'/products/' + product.id}">Edit</a>
                    <a th:href="${'/products/delete/' + product.id}">Delete</a>
                </td>
            </tr>
        </table>
        <!-- Pagination Controls -->
        <div>
            <ul>
                <li th:if="${beginIndex > 1}">
                    <a th:href="@{'/products/' + (currentPage - 1)}">&laquo; Previous</a>
                </li>
                <li th:each="pageNum : ${#numbers.sequence(beginIndex, endIndex)}"
                    th:classappend="${pageNum == currentPage} ? 'active'">
                    <a th:href="@{'/products/' + pageNum}" th:text="${pageNum}"></a>
                </li>
                <li th:if="${endIndex < totalPages}">
                    <a th:href="@{'/products/' + (currentPage + 1)}">Next &raquo;</a>
                </li>
            </ul>
        </div>
    </div>
    <div th:if="${product != null}">
        <h3>Adding/Editing Form</h3>
        <form data-toggle="validator" role="form" th:object="${product}" method="post"
              enctype="multipart/form-data" th:action="@{/products/save}">
            <input type="hidden" th:field="*{id}"/>
            
            <label for="name">Name:</label>
            <input type="text" id="name" required th:field="*{name}"/>
            
            <label for="description">Description:</label>
            <input type="text" id="description" required th:field="*{description}"/>
            
            <label for="price">Price:</label>
            <input type="number" id="price" required th:field="*{price}"/>
            
            <label for="category">Category:</label>
            <select id="category" required th:field="*{category.id}">
                <option value="" disabled selected>Select a category</option>
                <option th:each="category : ${listCategories}" 
                        th:value="${category.id}" 
                        th:text="${category.name}"></option>
            </select>
            
            <input type="submit" value="Submit"/>
        </form>
    </div>
</body>
</html>
