<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Products</title>
    <link rel="stylesheet" type="text/css" href="/css/styleProduct.css">
</head>
<body>
    <div class="navbar">
        <a class="btn" th:href="${'/products/add'}">Add a Product</a>
        <a class="btn" href="/categories">Categories</a>
        <a class="btn" href="/">Index</a>
    </div>

    <!-- Table Container -->
    <div class="table-container">
        <table>
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Name</th>
                    <th>Description</th>
                    <th>Price</th>
                    <th>Category</th>
                    <th>Image</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
                <tr th:each="product : ${listProducts}">
                    <td th:text="${product.id}"></td>
                    <td th:text="${product.name}"></td>
                    <td th:text="${product.quantity}"></td>
                    <td th:text="${product.price}">$</td>
                    <td th:text="${product.category.name}"></td>
                    <td><img th:src="@{${product.photo}}" class="product-image"/></td>
                    <td>
                        <a class="btn-edit" th:href="${'/products/edit/' + product.id}">Edit</a>
                        <a class="btn-delete" th:href="${'/products/delete/' + product.id}">Delete</a>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>

    <!-- Product Form -->
    <div th:if="${product != null}" class="form-container">
        <h3>Adding/Editing Product</h3>
        <form data-toggle="validator" role="form" th:object="${product}" method="post"
              enctype="multipart/form-data" th:action="@{/products/save}">
            <input type="hidden" th:field="*{id}"/>

            <div class="form-group">
                <label for="name">Name:</label>
                <input type="text" id="name" required th:field="*{name}"/>
            </div>

            <div class="form-group">
                <label for="quantity">Quantity:</label>
                <input type="number" id="quantity" required th:field="*{quantity}"/>
            </div>

            <div class="form-group">
                <label for="price">Price:</label>
                <input type="number" id="price" required th:field="*{price}"/>
            </div>

            <div class="form-group">
                <label for="image">Image:</label>
                <input type="file" id="image" name="file" accept="image/*"/>
            </div>

            <div th:if="${product.photo != null}">
                <img th:src="@{${product.photo}}" class="product-image"/>
            </div>

            <div class="form-group">
                <label for="category">Category:</label>
                <select id="category" required th:field="*{category.id}">
                    <option value="" disabled>Select a category</option>
                    <option th:each="category : ${listCategories}"
                            th:value="${category.id}"
                            th:text="${category.name}">
                    </option>
                </select>
            </div>

            <div class="form-group">
                <input class="btn-submit" type="submit" value="Submit"/>
            </div>
        </form>
    </div>
</body>
</html>
